<div class="bg-gradient-to-r bg-orange-97 h-dvh flex flex-col justify-center content-center"  >

    <div class=" flex flex-col content-center bg-white rounded-lg mx-36 my-12 py-10 shadow-md  min-h-fit">
        <h1 class="self-center  mb-10  text-2xl font-bold text-orange-50">Ingresa los datos para dar de alta tu portable</h1>
        
        <div class="grid grid-cols-2">

            <div class="flex justify-center align-center hand    ">
                <img src="/assets/wereable.png" class="h-96" alt="">
            </div>
    
    
            <form [formGroup]="form" class="flex flex-col mr-24" (ngSubmit)="onSubmit()">
                <div>
                    <label for=" "> Sube el id  de tu dispositivo portable</label>
                    
                    <input type="text" #deviceId class="" formControlName="deviceId" >

                </div>


                <label for=" mt-6 mb-3"> Vinculala  </label>

                <h3> Escoge que con que targeta vincularas tu dispositivo </h3>
                <ul class=" h-fit my-4  text-xl font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <ng-container *ngFor=" let card of cardsToChose">
                        <li class="w-full  border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                            <div class="flex items-center ps-3 my-3">
                                <input type="radio" 
                                [value]="card.id" [id]="card.lastFour" formControName="cardTokenId"  name="cardTokenId"  (click)="cardnum='card.id'"
                                class="w-4 h-4 radioInput text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">

                                <div class="relative">

                                    <label [for]="card.lastFour" class="w-full ps-10 py-3 ms-2 font-medium text-gray-900 dark:text-gray-300">
                                        **** **** {{card.lastFour}} </label>
                                        <fa-icon [icon]="faCreditCard" class="absolute"> </fa-icon>
                                </div>
                            </div>
                        </li>
                    </ng-container>
               
                </ul>


        <button 
            type="submit" 
            class="text-white    bg-blue-50 p-4  self-center  mt-24"
            >continuar </button>

            </form>

        </div>
    </div>
</div>
