
<div class="flex place-content-around">

    
    <div class=" flex flex-col items-start	"> 
        <h1 class="self-start  text-2xl font-bold text-orange-50">Datos de usuario </h1>

        <div class=" max-h-96 w-max blob self-center mt-20" >
                <div class="hand">

                <img class="  object-cover max-h-96 w-max transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110 hover:-rotate-12 duration-300 " src="./assets/Hand.png" alt="">
            </div>
            </div>
    </div>

    <div class="bg-orange flex flex-col"> 
        <form class="form items-center" #customerForm="ngForm" (keyup)="0">
            <div class="form-group">
                <label for="firstName" class="">Primer nombre </label> 
                <div class="relative">
                    <input type="text" name="firstName" id="firstName" 
                    placeholder="Mrs. Lenivier Martinez" required maxlength="30"
                    [(ngModel)]="customer.firstName" #firstName="ngModel" 
                    class="form-control"
                    > 
                    <fa-icon [icon]="faUser"></fa-icon>
                </div>

                <div
                *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                class="text-red-700">
                <div *ngIf="firstName.hasError('required')">El nombre es un campo obligatorio.</div>
            </div> 
    
            </div>
            <div>
                <label for="secondName"
                 > Segundo nombre </label>
                <input type="text" name="lastName" id="lastName" 
               
                placeholder="Martinez" required maxlength="30"

                [(ngModel)]="customer.lastName" #lastName="ngModel">

                <div
                    *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                    class="text-red-700">
                    <div *ngIf="lastName.hasError('required')">El apellido es un campo obligatorio.</div>
                </div> 
    
            </div>
    
            <div>
                <label for="email"
                class=""
                >Correo electronico</label>
                <div class="relative">
                    <input type="email" name="email" id="email" 
                    placeholder="ejemplo@mail.com" required maxlength="60" 
                    [(ngModel)]="customer.email" #email="ngModel">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
                <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-red-700">
                <div *ngIf="email.hasError('required')">El email es un campo obligatorio.</div>
            </div> 
            </div>
    
            <div>
                <label for="phone"
             
                > Numero de telefono</label>

                <div class="relative">
                    <input type="tel" name="phone" id="phone" placeholder="81 1072 5675" required
                    maxlength="10"
                    class="cleave-phone"
                    [(ngModel)]="customer.phone" #phone="ngModel"

                    >
                    <fa-icon [icon]="faPhone"></fa-icon>
                </div>

                <div
                    *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                    class="text-red-700">
                    <div *ngIf="phone.hasError('required')">El telefono es un campo obligatorio.</div>
                </div> 
             
            </div>
    
            <div class="grid grid-cols-2 gap-3" >
                <div>
                    <label for="street"
                    class="block"
                    > Calle </label>
                    <div class="relative">
                        <input type="text" name="street" id="street" placeholder="Diego de montemayor"
                        [(ngModel)]="customer.address.street" #street>
                        <fa-icon [icon]="faStreet"></fa-icon>
                    </div>
            
                </div>
        
        
                <div class="">
                    <label for="city" class="block">Ciudad</label>
                    <div class="relative">
                        <input type="text" name="city" id="city" placeholder="Monterrey"
                        maxlength="20" required
                        [(ngModel)]="customer.address.city" #city> 
                        <fa-icon [icon]="faCity"></fa-icon>
                    </div>
                    
                </div>
            </div>
           
            <div class=" grid  grid-cols-2 gap-3">
                <div class="">
                    <label for="postalCode" class=" block">Codigo postal </label>
                    <input type="text" name="postalCode" id="postalCode" placeholder="029451"
                    class=""
                    maxlength="7" required
                    [(ngModel)]="customer.address.postalCode" #postalCode>
    
                </div>
                <div class=" ">
                    <label for="country" class="block" >Pais </label>
                    <input type="text" name="country" id="country" placeholder="Mexico"
                    class="shadow focus:outline-none focus:shadow-outline"
                    maxlength="20" required
                    [(ngModel)]="customer.address.country" #country
                    >
                </div>

                
            </div>
        </form>

        <button 
        (click)="sendCustomerToParent(customer)" type="button" 
            class="text-white  block  bg-blue-50 p-4"
            [disabled]="customerForm.invalid"
            #formButton
            >continuar </button>


    </div>    



</div>